.scanner {
  padding-right: 23vw;
  padding-left: 23vw;
}
.stemp {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stemp-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 10vw;
  min-width: 30px;
  min-height: 30px;
  background-color: darkgray;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 100px;
}
.stemp-box {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-Button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}
.hint-image {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  object-fit: cover;
  box-sizing: border-box;
  display: flex;
}
.hint-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
}
