.title-input {
  width: 100%;
  border: none;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
}
.title-input:focus {
  outline: none;
}
.content-input {
  width: 100%;
  min-height: 300px;
  height: 60vh;
  border: none;

  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
  resize: none;
}
.con-button {
  color: white;
  background-color: rgb(158, 158, 158);
  border-radius: 0.5rem;
  border: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 500;
}
.confirm-button:hover {
  cursor: pointer;
}

.content-input:focus {
  outline: none;
}
.title-div {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.button-div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.write-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgb(138, 156, 255);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 20px;
  font-size: 13px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
}
