/* Define the keyframes for the sliding animation */
@keyframes slideInFromTop {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply the animation to the student items */
.attendance-student {
  animation: slideInFromTop 1s ease-out;
  /* Adjust animation duration and easing function as needed */
  opacity: 0; /* Ensure initial opacity is 0 */
  animation-fill-mode: forwards; /* Ensure element retains the final state of animation */
}

.loading {
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  color: #666;
}
.alert-modal {
  transform: translate(-50%, -50%);
  font-size: 12px;
  left: 50%;
  width: 60vmin;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 100px;
  margin: 0;
}
